@charset "UTF-8";


body {
    background-image: linear-gradient(to right, white, rgb(0, 247, 255));
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(1, 102, 102, 0.699);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 95, 0.733);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}