@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Brakpoints
-----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas grandes (TV): acima de 1200px
------------------------------
*/


@media print {
    body {
        background-image: url(../imagens/back-print.jpg);/* desnecessario n aparece na impressao*/
        font-family: 'Courier New', Courier, monospace;
    }
    #print {
        display: block;
    }
    #phone {
        display: none;
}
}

@media  screen and (min-width: 768px) and (max-width: 990px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #tablet {
        display: block;
    }
    #phone {
        display: none;
}
}


@media  screen and (min-width: 1000px) and (max-width: 1200) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #pc {
        display: block;
    }
    #phone {
        display: none;
}
}

@media  screen and (min-width: 1230px) { /* TELAS GRANDES */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #tv {
        display: block;
    }
    #phone {
        display: none;
}
}