@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Brakpoints
-----------------------------
Pequenas telas: até 578px
Celular: 578px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas grandes (TV): acima de 1200px
------------------------------
*/


@media print {
    body {
        background-image: url(../imagens/back-print.jpg);/* desnecessario n aparece na impressao*/
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Esse impressão foi feita pelo www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #print {
        display: block;
    }
    #phone {
        display: none;
}
}

@media  screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #tablet {
        display: block;
    }
    #phone {
        display: none;
}
}


@media  screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #pc {
        display: block;
    }
    #phone {
        display: none;
}
}

@media  screen and (min-width: 1200px) { /* TELAS GRANDES */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #tv {
        display: block;
    }
    #phone {
        display: none;
}
}