@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    #burger {
        display: none;
    }

    menu {
        display: block;
    }

    ul > li {
        display: inline-block;
    }

}